apiVersion: v1
kind: Service
metadata:
  name: {{ include "payment-service.fullname" . | replace "payment-service", .Chart.Name }}
spec:
  type: {{ .Values.service.type }}
  selector:
    app: {{ .Chart.Name }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 80
