replicaCount: 3

image:
  repository: "<ACCOUNT_ID>.dkr.ecr.${AWS_REGION}.amazonaws.com/api-gateway"
  tag: "latest"

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 75

ingress:
  enabled: true
  host: example.com
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
