{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "notification-service.fullname" . | replace "notification-service", .Chart.Name }}
  annotations:
    kubernetes.io/ingress.class: "alb"
spec:
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "notification-service.fullname" . | replace "notification-service", .Chart.Name }}
                port:
                  number: {{ .Values.service.port }}
{{- end }}
